<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Los permisos de localizacion -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permisos de notificacion -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExamenPasado8_9"
        tools:targetApi="31">

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".ServeiMusica" />
        <activity
            android:name=".PreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".MusicaActivity"
            android:exported="false" /> <!-- El dialog para que sea una ventana emergente -->
        <activity
            android:name=".PlayaActivity2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity
            android:name=".PlayaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog" /> <!-- Declaracion de la api -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>